/*
 * Copyright 2006-2023 Medstrat, Inc. All rights reserved.
 * Copyright 2024-2025 Zimmer, Inc. All rights reserved.
 * See the accompanying AUTHORS file for a complete list of authors.
 * This file is subject to the terms and conditions defined in LICENSE.txt
 */

:root {
    --page-width: 816px;
    --page-height: 1055px;
    --page-margin: 48px;
    --page-content-margin: 8px;
}